/Makefile
/Makefile.in
/aclocal.m4
/backlightd
/compile
/config.log
/config.status
/configure
/debian/.debhelper
/debian/README.Debian
/debian/backlightd
/debian/backlightd.debhelper.log
/debian/backlightd.postinst.debhelper
/debian/backlightd.postrm.debhelper
/debian/backlightd.prerm.debhelper
/debian/backlightd.substvars
/debian/debhelper-build-stamp
/debian/files
/depcomp
/install-sh
/main.o
/missing
