[Unit]
Description=Backlight daemon

[Service]
ExecStart=/usr/bin/backlightd
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
